# Dependencies & OS files
node_modules/
.next/
out/
.DS_Store
Thumbs.db

# Source / Raw Unused Media Folders
assets_images/
ref_images/
assets/videos de limpesa/
assets/imagens 01/
assets/colchoes/
assets/imagens carossel/
assets/images seção 1/
assets/seção 3/

# Large archives
*.zip
*.tar.gz

# Logs & temp
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/
.idea/

# Exceptions for production media
!assets/flags/*.svg
!assets/images/flags/*.svg
!public/flags/*.svg
!assets/video_01.mp4
!assets/images/video_01.mp4
!public/video_01.mp4

